<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/dashboard-new.css">
    <title>Dashboard</title>

</head>

<body class="bg-light">
    <section>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top header-top ">
            <div class="container">
                <a class="navbar-brand text-white" href="#">Jodi Maker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto text-white">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="">My Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="">Search</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="setting">Settings</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </section>




    <section>
        <div class="container mt-5">
            <div class="row">
                {{!-- profile column --}}
                <div class="d-flex col-md-3">
                    <div class="card">
                        <div class="img-holder px-2 p-2">
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                class="card-img-top rounded-circle" alt="Profile Page">
                        </div>
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">FirstName LastName</h5>
                            <p class="card-text text-center">Profile completion: <mark>80
                                    %</mark>
                            </p>
                            <hr>
                            <div class="row ">
                                <a href="#" class="btn btn-primary mx-auto">Upload More Photos</a>
                            </div>

                        </div>
                    </div>
                </div>
                {{!-- requests row --}}
                <div class="col-md-6">
                    <h6>Your Activity</h6>
                    <div class=" d-flex pb-2 ">
                        <div class="col-md-4">
                            <a href="" class="btn btn-success active" data-toggle="tab"
                                data-target="#acceptedReqs">Accepted
                                Requests</a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn btn-primary" data-toggle="tab" data-target="#rejectedReqs">Recieved
                                Requests</a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn btn-secondary" data-toggle="collapse" href="#pendingReqs"
                                role="button" aria-expanded="false" aria-controls="pendingReqs">Pending Requests</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane card border-success active" id="acceptedReqs">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-md-2">
                                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                                class="card-img-top rounded-circle p-3" alt="Profile Page">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h6 class="card-title">FirstName lastname</h6>
                                                <p class="card-text">Age, height,mother tongue, location</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Last online 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="profile" class="btn btn-info">View</a>
                                        </div>
                                        <div class="col-md-2">
                                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                                class="card-img-top rounded-circle p-3" alt="Profile Page">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h6 class="card-title">FirstName lastname</h6>
                                                <p class="card-text">Age, height,mother tongue, location</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Last online 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="profile" class="btn btn-info">View</a>
                                        </div>
                                        <div class="col-md-2">
                                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                                class="card-img-top rounded-circle p-3" alt="Profile Page">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h6 class="card-title">FirstName lastname</h6>
                                                <p class="card-text">Age, height,mother tongue, location</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Last online 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="profile" class="btn btn-info">View</a>
                                        </div>
                                    </div>
                                </div>


                                {{!-- rejects --}}
                                <div class="tab-pane card border-primary" id="rejectedReqs">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-md-2">
                                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                                class="card-img-top rounded-circle p-3" alt="Profile Page">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h6 class="card-title">FirstName lastname</h6>
                                                <p class="card-text">Age, height,mother tongue, location</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Last online 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="profile" class="btn btn-info">View</a>
                                        </div>
                                        <div class="col-md-2">
                                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                                class="card-img-top rounded-circle p-3" alt="Profile Page">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h6 class="card-title">FirstName lastname</h6>
                                                <p class="card-text">Age, height,mother tongue, location</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Last online 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="profile" class="btn btn-info">View</a>
                                        </div>
                                        <div class="col-md-2">
                                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                                class="card-img-top rounded-circle p-3" alt="Profile Page">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h6 class="card-title">FirstName lastname</h6>
                                                <p class="card-text">Age, height,mother tongue, location</p>
                                                <p class="card-text">
                                                    <small class="text-muted">Last online 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="profile" class="btn btn-info">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-white border rounded">
                    <div class="row p-3">
                        <h6 class="text-danger">Notifications</h6>
                        <div class="alert alert-success alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a><strong>FirstName LastName</strong>
                            Accepted your request
                        </div>
                        <div class="alert alert-success alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a><strong>FirstName LastName</strong>
                            Accepted your request
                        </div>
                        <div class="alert alert-danger alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a><strong>FirstName LastName</strong>
                            Rejected your request
                        </div>
                    </div>
                </div>
            </div>
            {{!-- </div> --}}
        </div>
    </section>
</body>



{{!-- bootstrap scripts --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="../js/dashboard-new.js"></script>

</html>