.profileimage {
  position: relative;
  width: 175px;
  height: 375px;
  border-radius: 50%;
  background-image: url("../img/woman-wearing-black-long-sleeved-shirt-1832959.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 20%;
}

.header-top {
  background-color: #78244c;
}

.nav-tabs {
  border: 0;
}

.nav-link {
  border: none !important;
}

a.nav-link {
  padding-bottom: 0 !important;
}

.social {
  padding: 20px;
  width: 70px;
  text-align: center;
  text-decoration: none !important;
  margin: 5px 2px;
  font-weight: bold;
  font-size: 2em;
  height: 70px;
}

.fa:hover {
  opacity: 0.7;
  cursor: pointer !important;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

hr {
  border: 3px solid#78244C;
  border-radius: 5px;
}

.header-top {
  background-color: #78244c;
}

body {
  padding-top: 70px;
  background: linear-gradient(to left, #f5f7fa, #c3cfe2);
}
.disabled {
  background: transparent;
  border: none;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

#nav-bar {
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.5s ease-in-out;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.btn-wine {
  color: #fff;
  background-color: #78244c;
  border-color: #78244c;
}

.btn-wine:hover {
  background-color: #d79922;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-color: #d79922;
}

/* avatar image  */
.avatar-upload {
  position: relative;
  max-width: 270px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-preview.img-small {
  width: 36px;
  height: 36px;
  border: 2px solid #f8f8f8;
}

.avatar-preview.img-big {
  width: 300px;
  height: 300px;
  border: 6px solid #f8f8f8;
}

.album{
  text-align: center;
}
.imgAlbum{
  
  width: 510px;
  border: solid 5px #78244c;
  margin-left: 280px;
}

.slideImg{
  border: solid 3px #757575;
  cursor: pointer;
  margin:2px;
}
