.header-top {
  background-color: #78244c;
}

body {
  padding-top: 70px;
  background: linear-gradient(to left, #f5f7fa, #c3cfe2);
}

.btn-wine {
  color: #fff;
  background-color: #78244c;
  border-color: #78244c;
}

.btn-wine:hover {
  background-color: rgba(120, 36, 77, 0.342);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-color: rgba(120, 36, 77, 0.342);
}

/* -----footer-------------- */

.settingspanel {
  height: 60vh;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #202020;
  color: #fff;
  padding-top: 35px ;
  margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #8e8e8e;
}
.tab-pane {
  background-color: white;
}
#nav-bar {
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.5s ease-in-out;
}
/* avatar image  */
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-preview.img-small {
  width: 36px;
  height: 36px;
  border: 2px solid #f8f8f8;
}
